 body{
   background:linear-gradient(to left ,rgb(5, 82, 126),rgb(196, 114, 158));
 }
 
 
 .box{
    width: 100px;
    height: 100px;
    border: 1px solid;
    text-align: bottom;
    font-size: 25px;
    background-color: blue;
    float:left;
    box-shadow: 10px 5px  green;
    opacity: 1 ;
}
p{  background-color: red;
    
    border: 5px solid gold ;
    padding: 10px 10px 4px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 10px;
    float: right;
    box-shadow: 5px 5px gainsboro;
}